* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    color: hsl(194, 81%, 24%);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #6469e6;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre légère */
}

nav .profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

nav h1 {
    font-size: 28px; 
    margin-bottom: 20px; 
}

.page-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px; 
    margin-bottom: 30px;
}

header p {
    font-size: 20px;
}

.presentation-image img {
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 30px; 
}

.social-icons a i {
    font-size: 36px; 
    margin-right: 15px; 
}
button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(45deg, #f00, #ff0, #0f0, #00f, #f0f, #f00);
    background-size: 400%;
    border-radius: 10px;
    z-index: -1;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

button:hover::before {
    filter: blur(5px);
}